<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Damka Game</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/homepage.css" />
    <link rel="stylesheet" href="~/css/w3.css">
    <link rel="stylesheet" href="~/css/Lato.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <div class="w3-top">
            <div class="w3-bar" id="myNavbar">
                <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                    <i class="fa fa-bars"></i>
                </a>
                <a class="w3-bar-item w3-hide-small">DAMKA GAME</a>
                <a asp-area="" asp-page="/Index" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-home"></i> HOME</a>
                <a asp-area="" asp-page="/Players/index" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-search"></i> PLAYERS</a>
                <a asp-area="" asp-page="/Games/index" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-search"></i> GAMES</a>
                <a asp-area="" asp-page="/About" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
                <a asp-area="" asp-page="/Players/create" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-blue"><i class="fa fa-user"></i> JOIN US</a>
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer w3-left w3-black w3-opacity w3-hover-opacity-off">
        <div class="w3-xlarge w3-section">
                &copy; 2020 - Damka - <a asp-area="" asp-page="/About">About</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
