@page
@model AboutModel
@{
    ViewData["Title"] = "About us";
}

<body class="bg">
    <div id="mainshape">
        <h1>@ViewData["Title"]</h1>
        <br />

        <h2>Giron Aptik</h2>
        <h3>Id: 307863258</h3>
        <br />
        <h2>Elad Madar</h2>
        <h3>Id: 203748751</h3>

</body>

