@page
@model IndexModel
@{
    ViewData["Title"] = "Damka Game";
}

<body class="bg" >
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a asp-page="./Players/create">Sign-Up</a>
    </div>
</body>
